*{
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  }

  a {
    text-decoration: none;
  }

  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

    /* ヘッダー */

  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  header {
    height: 65px;
    width: 100%;
    background-color: rgba(20, 9, 126, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }

  .logo {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 4px;
    width: 124px;
    margin: 8px 0px ;
    color: white;
  }

     /* フッター */

 .footer-right {
     margin-top:25px;
     margin-right:25px;
     float: right;
 }

 .footer-left {
    float: left;
    width: 200px;
 }

 .footer-logo {
     color: rgba(20, 9, 126, 0.9);
     font-weight: bold;
     font-size: 30px;
     width: 200px;
 }

 .biography{
     color: #b3aeb5;
     width: 200px;
 }


     /* ホーム */

 .top-wrapper {
      padding: 30px 0 0px 0;
      background-image: url("home.jpg");
      background-size: cover;
      color: black;
      text-align: center;
  }
  
  .top-container {
    padding: 50px 0;
    background: rgba(255, 255, 255, 0.8);
  }

  .top-wrapper h1 {
      opacity: 0.9;
      font-size: 45px;
      letter-spacing: 5px;
  }

  .top-wrapper h2 {
    opacity: 1;
    font-size: 55px;
    letter-spacing: 5px;
    color: black;
  }

  .explanation-wrapper{
      height: 600px;
      border-bottom: 1px solid #eee;
  }

  .clear{
      clear: left;
  }

  .message-wrapper {
      border-bottom: 1px solid #eee;
  }

  .message{
      font-size: 30px;
      text-align: center; 
      opacity: 0.8;
  }

  .feature-wrapper h1{
      text-align: center;
      font-size: 25px;
  }

  .feature {
    float: left;
    width: 33%;
    text-align: center;
  }

  .feature-icon {
    width: 100%;
    position: relative;
  }

  .icon-image {
    width: 250px;
    margin: 0 auto;
  }

  .feature-icon p {
    font-size: 20px;
    color: white;
    position: absolute;
    text-align: center;
    margin: auto;
    width: 200px;
    height: 30%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 16px;
    color: #b3aeb5;
    text-align: center;
  }



