<footer class="footer">
  <small>
    Presented by Chinami Hananomoto
  </small>
  <nav>
    <ul>
      <li><%= link_to "Springについて", about_path %></li>
      <li><%= link_to "お問い合せ", contact_path %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>