<header>
<div class="container">
  <div class="header-left">
    <p class="logo"> Spring <p>
  </div>
  <div class="header-right">
    <a href="#">ホーム</a>
    <a href="#">コース紹介</a>
    <a href="#">受講料/クラス日程</a>
    <a href="#">よくある質問</a>
    <a href="#" class="login">ログイン</a>
  </div>
</div>
</header>