<header>
<div class="container">
  <div class="header-left">
    <p class="logo"> Spring <p>
  </div>
  <div class="header-right">
    <%= link_to "ホーム", root_path %>
    <%= link_to "受講料/クラス日程", about_path %>
    <a href="#">よくある質問</a>
    <%= link_to "新規登録", signup_path %>
    <a href="#" class="login">ログイン</a>
  </div>
</div>
</header>